 *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }
 
 
main{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 30px;
  background-color: white;
}

 
/*** NAVBAR***/

.navbar{
  padding: 10px;
  background-color:#01427a;
}
.nav-link{
  color: white;
}
.navbar-brand{
  color:white;
  font-size: 25px;
}
.navbar-toggler{
  font-size: 17px;
}
 
/*** CARDS ***/
.heading{
  height: 300px;
  border:1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
 }

.cards{
  display: flex;
  flex-wrap: wrap;
  gap:50px;

  width: 80%;
  margin:auto;
}

.card{
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0,0,0,0.23);
}
.card:hover{
  box-shadow: 0 3px 6px rgba(190, 19, 170, 0.606), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.5s all ease-in-out;
}
  img{
  width: 310px;
  height: 200px;
}

 
.link{
  background-color: #e14177;
  text-decoration: none;
  color:white;
  border-radius: 18px;
  text-align: center;
  padding: 10px;
  width:250px;
}

.link:hover{
  padding-top: 15px 0px;
  transition: all 0.3s ease-in-out;
  color: #e14177;
  background-color:white;
  border: 1px solid  #e14177;
}
 

/*** CONTENT ***/
.content{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:5px;
}
.content ul{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.content ul li{
  list-style:decimal;
  

}
.content ul a{
  text-underline-offset: 3px;
  text-decoration: none;
  
}
.content ol li{
  list-style: decimal;
  line-height: 30px;
  margin: 3px 0;
}

#content-img{
  height: 300px;
  padding: 9px;
  width: 500px;
}
.next-prev{
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.next-prev a{
  text-decoration: none;
  background-color: #e14177;
  color:white;
  padding: 10px;
  border-radius: 18px;
}

/*** HEADINGS ***/
h1{
  font-size: 25px;
  margin-bottom: 15px;
  color:#e14177;
  line-height: 35px;
}
h2{
  font-size: 23px;
  margin-bottom: 10px;
  color:#000000;
}
h3{
  font-size: 20px;
  margin-bottom: 10px;
  color:#000000;
}

/*** SPECIAL ***/
pre{
  border-radius: 18px;
  width:78%;
  overflow-x: auto;
}


/*** FOOTER ***/
footer{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap:10px;
  background-color: #212529;

   
}
footer {
  color: white;
}
footer a{
  text-decoration: none;
}
footer ul{
  display: flex;
  flex-direction: column;
  gap:10px;   
}
footer ul a, .footer-brand{
  color:white;
 
}
 

@media screen and (max-width:1000px) {
  
  .img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img img{
    width: 280px;
    height: 150px;
    
  } 
  .card{
  height:300px;
  }
  #content-img{
    height: 250px;
    padding: 9px;
    width: 300px;
  }
  .navbar-nav {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content{
    width: 100%;
    padding: 10px;
  }
  .cards{
    justify-content: center;
    align-items: center;
    margin-left:0px;

  }

  .navbar-nav li {
    display: inline-block;
  }
  footer{
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  pre{
    width:100%;
  }
  .navbar-toggler{
    background-color: white;
  }
 
}