@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
    line-height: 30px;
    margin-top: 90px;
    
  }
  
  html {
    scroll-behavior: smooth;
  }
  
/********* NAV BAR***************/
.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  rgb(18, 152, 242);
  background-color: rgb(18, 152, 242);
  padding: 19px 35px;
  position: fixed;
  z-index: 3;
  width: 100%;
  top:0;
  
 
}

.nav-links{
  display: flex;
  list-style: none;

}
 
.nav-link{
    margin-left: 45px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
#logo{
  text-decoration: none;
  color: white;
  font-size: 27px;
}
#menu{
  display:none;
}

#instavid{
  width: 350px;
  height: 550px;
  border: 1px solid rgb(59, 57, 57);
  padding: 5px;
}

.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  margin: 30px 0px;
}


.item{
  display: flex;
  padding: 50px;
  align-items: center;
  gap:50%;
  margin: 30px 0px;
}

.image{
  width: 360px;
  height: 210px;
  border-radius: 18px;
}
.image img{
  border-radius: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  gap:10px;
}

#try{
  background-color:rgb(18, 152, 242);
  color: white;
  padding: 10px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

footer{
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.privacy-terms{
  display: flex;
  flex-direction: column;
}

footer a{
  text-decoration: none;
}

.info{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-direction: column;
  gap:30px;
}
details{
  cursor: pointer;
}

.heading h1{
  color: #fd8003	; 
  font-size: 30px;
  margin-bottom: 10px;
}

.heading p{
  margin: 0px 20px;
   
}

.item h2{
  color: #fd8003	; 
 
}

.info h2{
  color:  #fd8003	; 
  margin-bottom: 3px;
}
.info p, .item p{
  font-size: 16px;
}

details{
  margin-top: 10px;
  border: 1px solid rgb(23, 23, 23);
  padding: 10px;
  background-color:  #474646	; 
  color: white;
  width: 700px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  flex-direction: column;
}

.features p{
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 300px;
}

.input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  border-radius: 10px;
  margin: 30px;
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  padding: 100px;
}
.input input{
  width: 700px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
#submit{
  width: 100px;
  padding: 10px;
}

 .result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  padding: 50px;
  margin: 30px;
}

.result button{
  width: 100px;
  padding: 15px;
  background-color:rgb(18, 152, 242);
  border: 1px solid white;
  color: white;
}

.what{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap:15px;
  width: 100%;
  margin: 50px;
}

.result-story{
  width: 100%;
  display: flex;
  justify-content: center;
  gap:30px;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
}

.result-story video{
  width: 300px;
  height: 500px;
}

#example {
  width: 500px;
  height: 300px;
  border: 1px solid rgb(127, 127, 127);
}
footer{
  padding: 90px;
  border-top: 1px solid #000000;
  margin: 10px;
}

footer #logo{
  color: #fd8003	; 
}
.privacy-terms a{
  color: black;
  font-size: 17px;
}

.result-posts{
  display: flex;
  flex-wrap: wrap;
  gap:70px;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.post{
  display: flex;
  flex-direction: column;
  gap:25px;
}
.result-posts button{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(18, 152, 242);
  background-color:rgb(18, 152, 242);
  color: white;
}
.loading{
  font-size: 16px;
  color: Green;
   
}
.result-story button{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(18, 152, 242);
  background-color:rgb(18, 152, 242);
  color: white;
}
 
#submit{
  padding: 15px;
  border-radius: 18px;
  border: 1px solid rgb(18, 152, 242);
  background-color:rgb(18, 152, 242);
  color: white;
  cursor: pointer;
}
.privacy-info{
  width: 80%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.privacy-info h2{
  margin-bottom: 5px;
  font-size: 18px;
}

.privacy-info p{
  margin-bottom: 5px;
}
h2{
  font-size: 21px;
}


@media screen and (max-width:800px) {
  
  .faq{
    width: 100%;
    margin-left: 1%;
  }
   
  .privacy-info{
    width: 100%;
    margin: auto;
    padding: 30px;
  }
  details{
    width: 100%;
  }
  .info{
    padding: 30px;
  }
  .info p{
    font-size: 15px;
  }
  #menu{
    display: block;
  }
  .item{
    padding: 30px;
    flex-direction: column;  
    justify-content: center;
    gap:30px;
  }
  .item2{
    flex-direction: column-reverse;
  }
  #open{
    display: block;
    font-size: 35px;
    color: white;
  }
  #close{
    display: none;
    font-size: 35px;
    color: white;
  }
  nav{
    position: relative;
    height: 9vh;
    display: flex;
    justify-content: center;
    
  }
  .nav-links{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:80px;
    width: 100%;
    justify-content: center;
    display: none;
    transition: all 0.3s ease-in-out;
    gap:15px;
    left:10%;
  }

  footer{
    flex-direction: column;
    gap:30px;
    padding: 10px;
    align-items: center;
  }
  footer p{
    font-size: 14px;
  }
  .heading {
    padding: 5px;
  }
  .heading h1{
    font-size: 21px;
  }
  .heading p{
    font-size: 14px;
    margin: 0px 15px;
  }
  details{
    font-size: 14px;
  }

  .info p, .item p{
    font-size: 14px;
  }

  .item{
    align-items: flex-start;
  }

  .image{
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .image img{
    width: 290px;
  }
 
  .input, .result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px; 
    padding: 30px;
    margin:10px;
  
  }
  .input{
    padding: 70px;
  }
  .input input{
    width:320px;
    padding: 10px;
    height: 45px;
  }
  #submit{
    width: 100px;
    padding: 10px;
    height: 50px;
  }
   .what{
    margin: 3px;
   }
   .info h2, .item h2,.content h2, .what{
    font-size: 17px;
  }
  #example {
    width:100%;
    height: 100%;
    border: 1px solid rgb(127, 127, 127);
  }
  .content{
    margin-left: 10px;
  }
  

}

