@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}

body {
    font-family: __geistSansFont_8289af, arial;
    background-color: #000000;
    line-height: 25px;
    margin-top: 90px;
    font-family: "Montserrat", sans-serif;
     
  }
  
  html {
    scroll-behavior: smooth;
  }
  
/********* NAV BAR***************/
.navbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  rgb(0, 0, 0);
  background-color: rgb(3, 3, 3);
  padding: 19px 35px;
  position: fixed;
  z-index: 3;
  width: 100%;
  top:0;
 
 
}

.nav-links{
  display: flex;
  list-style: none;
 
 
}
 
.nav-link{
    margin-left: 45px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
   
}
#logo{
  text-decoration: none;
  color: white;
  font-size: 27px;
}
#menu{
  display:none;
 
}

#instavid{
  width: 350px;
  height: 550px;
  border: 1px solid rgb(59, 57, 57);
  padding: 5px;
}

.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px  0px;
}

.heading p{
  width:300px;
  text-wrap: wrap;
  text-align: center;
}


.item{
  display: flex;
  padding: 50px;
  align-items: center;
  gap:50%;
 justify-content: center;
 margin:30px 0px;
}
.item p{
  width: 300px;
}
.item h2{
  width: 300px;
}
 
 
.content{
  display: flex;
  flex-direction: column;
  gap:5px;
}

#try{
  background-color:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 7px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 18px;
  font-size: 14px;
  border: 1px solid rgb(39, 39, 39);
}
#try:hover{
  background-color: rgb(0, 0, 0);
  color:white;
  border: 1px solid white;
  transition: 0.3s all ease-in-out;
}

footer{
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.privacy-terms{
  display: flex;
  flex-direction: column;
}

footer a{
  text-decoration: none;
}

.info{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  flex-direction: column;
  gap:30px;
}
details{
  cursor: pointer;
}

.heading h1{
  color: #ffffff	; 
  font-size: 23px;
  margin-bottom: 10px;
}

.heading p{
  margin: 0px 20px;
   
}

.item h2{
  color: #ffffff	; 
 
}

.info h2{
  color:  #f5f5f5	; 
  margin-bottom: 3px;
}
.info p, .item p{
  font-size: 15px;
}

details{
  margin-top: 10px;
  border: 1px solid #6e6c6c	;
  padding: 15px;
  background-color:  #000000	; 
  color: white;
  border-radius: 18px;
  width: 700px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  flex-direction: column;
}

.features p{
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  color: #000000;
}
   
.input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  border-radius: 10px;
  margin: 30px;
  background: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
  padding: 100px;
}
.input input{
  width: 700px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
#submit{
  width: 100px;
  padding: 10px;
}

 .result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:30px;
  padding: 50px;
  margin: 30px;
}

.result button{
  width: 100px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  border: 1px solid white;

}
.result button:hover{
  background-color:rgb(0, 0, 0);
  border: 1px solid white;
  color: white;
  transition: 0.3s all ease-in-out;
}

.what{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap:15px;
  width: 100%;
  margin: 50px;
}

.result-story{
  width: 100%;
  display: flex;
  justify-content: center;
  gap:30px;
  flex-wrap: wrap;
  padding: 15px;
  align-items: center;
}

.result-story video{
  width: 300px;
  height: 500px;
}

#example {
  width: 500px;
  height: 300px;
  border: 1px solid rgb(127, 127, 127);
}
footer{
  padding: 90px;
  border-top: 1px solid #000000;
  margin: 10px;
}

footer #logo{
  color: #ffffff	; 
}
.privacy-terms a{
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.result-posts{
  display: flex;
  flex-wrap: wrap;
  gap:70px;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.post{
  display: flex;
  flex-direction: column;
  gap:25px;
}
.result-posts button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  border: 1px solid white;
}
.loading{
  font-size: 16px;
  color: Green;
   
}
.result-story button{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  border: 1px solid white;
}
 
#submit{
  padding: 15px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  border: 1px solid white;
  cursor: pointer;
}
.privacy-info{
  width: 80%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.privacy-info h2{
  margin-bottom: 5px;
  font-size: 18px;
}

.privacy-info p{
  margin-bottom: 5px;
}
h2{
  font-size: 18px;
  color:  white;;
}

.item{
  border:1px solid rgb(254, 254, 254);
  margin: 45px;
  box-shadow: rgb(143, 143, 143) 0px 3px 10px;
  margin-bottom: 50px;
  }
  p{
    color: #e2e0e0	;
  }

@media screen and (max-width:900px) {
  
  .faq{
    width: 100%;
    margin-left: 1%;
  }
   
  .privacy-info{
    width: 100%;
    margin: auto;
    padding: 30px;
  }
  details{
    width: 100%;
  }
  .info{
    padding: 30px;
  }
  .info p{
    font-size: 14px;

  }
  #menu{
    display: block;
  }
  .item{
    padding: 10px;
    flex-direction: column;  
    gap:20px;
    width: 250px;
  }
  .item2{
    flex-direction: column-reverse;
  }
  #open{
    display: block;
    font-size: 30px;
    color: white;
    
  }
  #close{
    display: none;
    font-size: 30px;
    color: white;
   
  }
  nav{
    position: relative;
    height: 9vh;
    display: flex;
    justify-content: center;
   
  }
  .nav-links{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:80px;
    width: 100%;
    justify-content: center;
    display: none;
    
    gap:15px;
    left:10%;
  }
  
  footer{
    flex-direction: column;
    gap:30px;
    padding: 10px;
    align-items: center;
  }
  footer p{
    font-size: 14px;

  }
  .heading {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading h1{
    font-size: 17px;
  }
  .heading p{
      font-size: 14px;
     
    margin: 0px 15px;
  }
  details{
    font-size: 14px;
  }

  .info p, .item p{
    font-size: 14px;
  }

  .item{
    align-items: flex-start;
  }

  
   
 
  .input, .result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px; 
    padding: 30px;
    margin:10px;
  
  }
  .input{
    padding: 70px;
  }
  .input input{
    width:320px;
    padding: 10px;
    height: 45px;
  }
  #submit{
    width: 100px;
    padding: 10px;
    height: 50px;
  }
   .what{
    margin: 3px;
   }
   .info h2, .item h2,.content h2{
    font-size: 17px;
  }
  #example {
    width:100%;
    height: 100%;
    border: 1px solid rgb(127, 127, 127);
  }
  .content{
    margin-left: 0px;
  }
  .what p{
    font-size: 14px;

  }
  nav{
    height: 7vh;
  }
 
  .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px  0px;
  }
  
  .heading p{
    width:250px;
    text-wrap: wrap;
    text-align: center;
  }
  
  .item img{
   align-self: center;
  }
  
 
  .item p{
    width: 210px;
  }
  .item h2{
    width: 210px;
  }
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

